<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="/js/dashboard.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Admin Dashboard</h1>
        <div class="tabs">
          <button class="products-btn" onclick="showTab('products')">
            Products
          </button>
          <button onclick="showTab('bundles')">Bundles</button>
          <button class="users-btn" onclick="showTab('users')">Users</button>
          <button onclick="logout()" id="logoutBtn">Logout</button>
        </div>
      </div>
      <div id="products-tab">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Rarity</th>
              <th>Price</th>
              <!-- <th>Type</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="product-body"></tbody>
        </table>
      </div>
      <div id="bundles-tab" style="display: none">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <!-- <th>Type</th>
              <th>Series</th> -->
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="bundle-body"></tbody>
        </table>
      </div>
      <div id="users-tab" style="display: none">
        <table>
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="user-body"></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
