@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  min-width: 350px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  padding-bottom: 10px;
}
h1 {
  text-align: center;
  color: #333;
  padding-bottom: 10px;
}
#logoutBtn {
  float: right;
  padding: 6px 14px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#logoutBtn:hover {
  background-color: #c62828;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background: #007bff;
  color: white;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background: darkred;
}
.tabs {
  margin-top: 1rem;
}
.tabs button {
  margin-right: 10px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 500px) {
}
