@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  min-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  text-align: center;

  flex-wrap: wrap;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
}
.users-btn {
  margin-right: auto;
}
.tabs button,
#logoutBtn {
  padding: 8px 16px;
  border: none;
  background-color: #1976d2;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.tabs button:hover,
#logoutBtn:hover {
  background-color: #115293;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 10px 20px;

  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f0f0f0;
}

.delete-btn {
  padding: 6px 12px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #9a0007;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.change-role-btn {
  padding: 6px 12px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.change-role-btn:hover {
  background-color: #f57c00;
}
@media (max-width: 500px) {
}
